*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #f8a5b3;
    --second-bg-color : #FFD4D4;
    --text-color: #191825;
    --second-color: #000;
    --main-color: #D14D72;
    --big-font: 5rem;;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}